@import '../../common/function';

.side-bar-private {
  width: 100%;
  height: 100%;
  padding: calc-rem(16);
  display: flex;
  flex-direction: column;
  background-color: theme('colors.white');

  &__logo {
    text-align: center;
  }

  &__menu {
    margin-top: calc-rem(32);

    &__list {
      &__item {
        padding: calc-rem(16);
        border-radius: calc-rem(6);
        cursor: pointer;
        transition: all 0.2s;
        display: flex;

        @apply space-x-3;

        &:hover,
        &:active,
        &:focus {
          background-color: theme('colors.gray-1');
          color: theme('colors.primary');

          :global(.ant-typography) {
            color: theme('colors.primary');
          }
        }
      }
    }
  }
}
